{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "esmodules": true },
        "loose": true
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    [
      "module:faster.js"
    ]
  ]
}
