* {
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  font-size: 11px;
  text-align: center;
  margin: 3em 1em 0 1em;
  color: #525252;
}

a {
  color: inherit;
}

a:active,
a:hover {
  color: inherit;
  outline: 0;
}

details, form, p {
  margin-bottom: 1em;
}

details > *:not(summary) {
  padding: 1em;
}

details:not([open]) {
  opacity: 0.4;
}

details summary {
  outline: none;
  cursor: zoom-in;
}

details[open] summary {
  font-weight: bold;
  cursor: zoom-out;
}

ul, ol, li {
  margin-left: 1em;
}

fieldset {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5em 0.5em 0;
  padding: 0.3em 0.6em;
  border: 1px solid #666;
  border-radius: 3px;
}

legend {
  color: #333;
}

button {
  font-size: 11px;
  padding: 2px 8px 3px 8px;
}
